@{
    <br />
    ViewBag.Title = "My Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Mohammed Malek<br />
    Glennville, GA<br />
    <abbr title="Phone">Phone#:</abbr>
    401-256-9402
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:waqarmalek@yahoo.com">waqarmalek@yahoo.com</a><br />
</address>